{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Daftar Kegiatan Seru</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
#daftarbuku {
    margin-bottom: 0;
}
#daftarbuku th {
    background-color: #456994;
    color: white;
    vertical-align: middle;
}
@media screen and (min-width: 840px) {
    .table-responsive {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border:1px solid #c0c0c0;
    }
}
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 pt-4 text-white text-md-left text-center">
    <h1 id="greeting">Katalog Buku</h1>
</div>
<div class="container-fluid p-3 text-left text-white" style="background-color: #1d3557;">
    <div style="width: 75%; margin:auto; padding: 50px 0px;">
        Masukkan keyword:<br>
        <input id="input" class="form-control">
    </div>
</div>
<div class="container-fluid py-5 px-3 px-md-5 text-left" style="background-color: #f2f2f5;">
    <div class="table-responsive">
        <table id="daftarbuku" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Judul Buku</th>
                    <th>Penulis</th>
                    <th>Cover</th>
                </tr>
            </thead>
            <tbody>
                <td colspan="4" style="text-align: center;">Masukkan keyword terlebih dahulu</td>
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'story8.js' %}"></script>
{% endblock content %}