{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Daftar Kegiatan Seru</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<style>
    input[type=submit] {
        color: white;
        text-align: center;
        border: none; border-radius: 6px;
    }
    .box {
        width:225px; height:225px;
        background-color: #335b8b;
        display: block;
        border-radius: 25px;
        margin-left: auto; margin-right: auto;
        text-align: center; color:white;
        overflow: auto;
        padding: 5px; line-height: 1.5;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 80%; margin: auto;
    }
    @media screen and (max-width: 712px) {
        .line {
            margin-left:auto !important;
            margin-right:auto !important;
        }
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-left text-center">
    <h1 id="greeting">Daftarkan Kegiatan!</h1>
</div>
<div class="container-fluid p-3 text-left text-white" style="background-color: #1d3557;">
    <div style="width: 75%; margin:auto; padding: 50px 0px;">
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                Masukkan Kegiatan: {{ input_kegiatan.nama }}<br>
                <input type="submit" value="Submit" style="background-color: #6096ba; padding: 10px 20px;">
            </form>
        </div>
    </div>
</div>
{% if kegiatans %}
<div class="container-fluid p-3 text-md-left text-center" style="background-color: #f2f2f5;">
    <h1 id="daftar" style="color: #1d3557;">Ikuti Kegiatan Seru</h1>
    <hr class="line l" style="width: 50%;">
    <br>
    <div class="container p-3 mt-n5" style="width: 80%; margin: auto;"></div>
        <br>
        <div class="row justify-content-around">
        {% for kegiatan in kegiatans %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <br>
                    <p style="line-height: 1.5;"><b><b>{{ kegiatan.nama }}</b></b></p>
                        {% for orang in orangs %}
                        {% if orang.kegiatan.nama == kegiatan.nama %}
                        {{ orang.nama }}<br>
                        {% endif %}
                        {% endfor %}
                    <br>
                    <a href="{% url 'story6:peserta' id=kegiatan.id %}" class="btn btn-primary">Tambah Peserta</a>
                </div>
                <br><br>
            </div>
        {% endfor %}
        </div>
    <br><br>
    </div>
</div>
{% endif %}
{% endblock content %}