{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Daftar Kegiatan Seru</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-left text-center">
    <h1 id="greeting">Daftar ke {{ kegiatan.nama }}</h1>
</div>
<div class="container-fluid p-3 text-left text-white" style="background-color: #1d3557;">
    <div style="width: 75%; margin:auto; padding: 50px 0px;">
        <div class="form-group">
            <form action="{% url 'story6:savepeserta' id=kegiatan.id %}" method="POST">
                {% csrf_token %}
                Masukkan Nama Anda {{ input_orang.nama }}<br>
                <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #6096ba; padding: 10px 20px;">
            </form>
        </div>
    </div>
</div>
{% endblock content%}