.accordion {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.accordion-li {
    display: flex;
    flex-direction: column;
}
.accordion-li + .accordion-li {
    border-top: 1px solid white;
}
.accordion-header {
    background-color: #080808;
    color: white;
    padding: 0.8em 1em;
    cursor: pointer;
}
.accordion-header:hover {
    background-color: #151515;
}
.accordion-body{
    padding: 1em;
    background:#5a5a5a;
    color:whitesmoke;
    display: none;
}
.accordion-body p {
    line-height: 1.5;
    margin-bottom: 0;
}
.head {
    float: left; width:70%;
}
.buttons {
    float: right;
}
@media screen and (max-width: 472px) {
    .buttons {
        transform: translateY(50%);
    }
}
@media screen and (max-width: 392px) {
    .head {
        width: 60%;
    }
}
@media screen and (max-width: 347px) {
    .head {
        width: 50%;
    }
}
@media screen and (min-width: 454px) and (max-width: 472px) {
    #org {
        transform: translateY(0);
    }
}
@media screen and (min-width:388px) and (max-width: 472px) {
    #act {
        transform: translateY(0);
    }
}
ol {
    padding-inline-start: 18px;
    font-weight: 300;
}