{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Tsanaativa Vinnera</title>
<link rel="stylesheet" href="{% static 'stylestory1.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
    .navbar {
        padding: .8rem 4rem;
        font-family: 'Poppins';
    }
    .navbar-nav li {
        padding-right: 50px;
    }
    .nav-link {
        font-size: 1.1em !important;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="content" style="margin: 8px;">
<div class="header">
    <h1 style="font-size: 2em; font-weight: bolder; margin: 0.67em 0px;">Welcome to My Profile!</h1>
</div>
<img src= "{% static 'img/ID49.png' %}" style="width: 336.15px; height: 387.45px; position: absolute; left:90px; bottom:-5px;">
<div class="description">
    <br><p>Perkenalkan, nama saya Tsanaativa Vinnera.<br>
    <br>Saya adalah mahasiswa jurusan Ilmu Komputer Universitas Indonesia.
    Saya adalah seorang <i>digital artist</i> yang berpengalaman dalam bidang desain grafis,
    namun juga seorang mahasiswa biasa yang hanya ingin lulus mata kuliah PPW.</p>
</div>
<div class="transition"></div>
<div class="profile" style="margin: 15px;">
    <h1 style="font-size: 2em; font-weight: bolder; margin: 0.67em 0px;">Biodata Diri</h1>
</div>
<hr>
    <table class="biodata">
        <tr>
            <td>Nama</td>
            <td>: Tsanaativa Vinnera</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>: 1906350881</td>
        </tr>
        <tr>
            <td>Jurusan</td>
            <td>: Ilmu Komputer</td>
        </tr>
        <tr>
            <td>Angkatan</td>
            <td>: 2019</td>
        </tr>
        <tr>
            <td>Perguruan Tinggi</td>
            <td>: Universitas Indonesia</td>
        </tr>
        <tr>
            <td>Hobi</td>
            <td>: Menggambar digital</td>
        </tr>
    </table>
</div>
<div class="profile" style="margin: 15px;">
    <h1 style="font-size: 2em; font-weight: bolder; margin: 0.67em 0px;">Riwayat Pendidikan</h1>
</div>
<hr>
<table id="riwayat">
    <tr>
    <th>Tahun</th>
    <th>Pendidikan</th>
    </tr>
    <tr>
        <td>2007 - 2013</td>
        <td>SD Al-Furqan Jember</td>
    </tr>
    <tr>
        <td>2013 - 2016</td>
        <td>SMPN 2 Jember</td>
    </tr>
    <tr>
        <td>2016 - 2019</td>
        <td>SMAN 1 Jember</td>
    </tr>
    <tr>
        <td>2019 - sekarang</td>
        <td>Universitas Indonesia</td>
    </tr>
</table>
<div class="transition socmed" style="height: 400px; margin: 8px;">
    <h1  style="font-size: 2em; font-weight: bolder; margin: 0.67em 0px;">Get in touch.</h1>
    <table id="contact">
        <tr>
            <td>ID LINE</td>
            <td>: vivinyuri</td>
        </tr>
        <tr>
            <td>WhatsApp</td>
            <td>: +62895340546968</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>: tsanaativa.vinnera@gmail.com</td>
        </tr>
    </table>
    <div></div>
    <a href="https://www.facebook.com/tsanaativa.v">
    <img src="{% static 'img/facebook.png' %}" style="position:absolute; right:80px; width: 50px;"></a>
    <a href="https://twitter.com/vivinnera14">
    <img src="{% static 'img/twitter.png' %}" style="position:absolute; right:180px; width: 50px;"></a>
    <a href="https://www.linkedin.com/in/tsanaativa-vinnera-0295261b7">
    <img src="{% static 'img/linkedin.png' %}" style="position:absolute; right:280px; width: 50px;"></a>
    <a href="https://www.instagram.com/vivinnera/">
    <img src="{% static 'img/instagram.png' %}" style="position:absolute; right:380px; width: 50px;"></a>
</div>
</div>
{% endblock content %}
</html>
