{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profil Tsanaativa Vinnera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock meta %}



{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-right text-center">
    <h1 id="greeting">Welcome to My Profile!</h1>
</div>
<div class="container-fluid" style="background-color: #1d3557;">
    <div class="row">
        <div class = "col-sm-12 col-md-4 text-md-right text-center">
            <img src= "{% static 'img/ID49.png' %}" class="img-responsive mx-auto" style="width: 85%; height: auto;">
        </div>
        <div class="col-sm-12 col-md-8 description text-md-right text-center pr-md-5 pt-md-3 pb-3">
            <p class="me">Perkenalkan, nama saya Tsanaativa Vinnera.<br>
            <br>Saya adalah mahasiswa jurusan Ilmu Komputer Universitas Indonesia.
            Saya adalah seorang <i>digital artist</i> yang berpengalaman dalam bidang desain grafis
            sekaligus seorang <i>programmer</i> yang sedang <br>mempelajari bahasa Java dan Python.</p>
            
            <a href="https://drive.google.com/file/d/18lqd_uxL5_C2vTWqsZrcTotg-_lELu5R/view?usp=sharing"
            class="btn btn-primary" style="margin: auto 15px;">Download CV</a>
        </div>
    </div>
</div>
<div class="transition"></div>
<div class="container-fluid p-3 profile text-md-left text-center" style="background-color: #f2f2f5;">
    <h1>Biodata Diri</h1>
    <hr class="line">
    <div class="row mx-md-5 pb-md-4" style="font-size: 17px;">
        <div class="col-sm-12 col-md-6 pl-md-5">
            <p class="bio">NAMA LENGKAP:</p>
            <p class="data">Tsanaativa Vinnera</p><br>
            <p class="bio">NPM:</p>
            <p class="data">1906350881</p><br>
            <p class="bio">ANGKATAN:</p>
            <p class="data">2019</p><br>
            <p class="bio">PERGURUAN TINGGI:</p>
            <p class="data">Universitas Indonesia</p><br>
        </div>
        <div class="col-sm-12 col-md-6 mx-md-n4">
            <p class="bio">TEMPAT/TANGGAL LAHIR:</p>
            <p class="data">Palembang, 1 April 2001</p><br>
            <p class="bio">ASAL SMA:</p>
            <p class="data">SMAN 1 Jember</p><br>
            <p class="bio">DOMISILI:</p>
            <p class="data">Semarang, Jawa Tengah</p><br>
            <p class="bio">MOTTO:</p>
            <p class="data"><i>Work hard in silence, let success make the noise</i></p><br>
        </div>
    </div>
</div>
<div class="transition" style="background-color:#1d3557; padding:20px"></div>
<div class="transition"></div>
<div class="container-fluid p-3 profile text-center" style="background-color: #f2f2f5;">
    <h1>Riwayat Pendidikan</h1>
    <hr class="line" style="margin: 20px auto;">
    <br>
    <div class="container riwayat">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        <h2 style="font-family: 'Roboto';"><b>UNIVERSITAS INDONESIA</b></h2>
                        <p style="font-size: large;">2019 - sekarang</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h2 style="font-family: 'Roboto';"><b>SMAN 1 JEMBER</b></h2>
                        <p style="font-size: large;">2016 - 2019</p>
                        <div class="achievement">
                        <p>Juara 2 OSK Fisika Kab. Jember 2017</p>
                        <p>Juara 3 OSK Fisika Kab. Jember 2018</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h2 style="font-family: 'Roboto';"><b>SMP NEGERI 2 JEMBER</b></h2>
                        <p style="font-size: large;">2013 - 2016</p>
                        <div class="achievement">
                        <p>Medali Perak OSN IPA SMP 2015</p>
                        <p>Pembinaan dan Seleksi IJSO 2016</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <h2 style="font-family: 'Roboto';"><b>SD AL-FURQAN JEMBER</b></h2>
                        <p style="font-size: large;">2007 - 2013</p>
                        <div class="achievement">
                        <p><i>World Creativity Festival (WCF)</i> 2012</p>
                        <p><i>The Winner of In-Contest Problem</i></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br><br>
</div>
<div class="container-fluid p-3 profile text-md-left text-center" style="height: 375px;">
    <h1 style="color: white;">Get in touch.</h1>
    <hr class="line" style="background-color: white;">
    <div class="row mx-md-5" style="font-size: 17px;">
        <div class="col-12 pl-md-5 mt-n4 mt-md-n3 ml-md-5">
            <div class="table-responsive text-md-left text-center">
                <table id="contact">
                    <tr>
                        <td>ID LINE</td>
                        <td>: vivinyuri</td>
                    </tr>
                    <tr>
                        <td>WhatsApp</td>
                        <td>: +62895340546968</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>: tsanaativa.vinnera@gmail.com</td>
                    </tr>
                </table>
                <div class="small">
                    <p>ID LINE: vivinyuri</p>
                    <p>WhatsApp: +62895340546968</p>
                    <p>E-mail: tsanaativa.vinnera@gmail.com</p>
                </div>
            </div>
            <div class="col-12 text-md-right text-center p-3">
                <a href="https://www.instagram.com/vivinnera/">
                <img class="image-fluid soc" src="{% static 'img/instagram.png' %}"></a>
                <a href="https://www.linkedin.com/in/tsanaativa-vinnera-0295261b7">
                <img class="image-fluid soc" src="{% static 'img/linkedin.png' %}"></a>
                <a href="https://twitter.com/vivinnera14">
                <img class="image-fluid soc" src="{% static 'img/twitter.png' %}"></a>
                <a href="https://www.facebook.com/tsanaativa.v">
                <img class="image-fluid soc" src="{% static 'img/facebook.png' %}"></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}