{% extends 'base.html' %}
{% include 'story3base.html' %}
{% load static %}

{% block meta %}
<title>Pengalaman Tsanaativa Vinnera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock meta %}



{% block content %}
<div class="container-fluid p-3 my-3 text-white text-center">
    <br>
    <h1 id="greeting">Pengalaman Saya?</h1>
    <br>
</div>
<div class="container-fluid p-3 text-md-left text-center" style="background-color: #1d3557;">
    <h1 class="exp">Organisasi</h1>
    <hr class="lineBlue">
    <div class="row mx-md-5 pb-md-4 exp-detail" style="font-size: 20px; color: white;">
        <div class="col-sm-12 col-md-6 pl-md-5">
            <p style="font-weight: 400;"><b>Anggota Angkatan 44 MBUI</b></p>
            <p>2019 - sekarang</p><br>
            <p style="font-weight: 400;"><b>Anggota Departemen MuC FUKI Fasilkom</b></p>
            <p>2020 - sekarang</p><br>
        </div>
        <div class="col-sm-12 col-md-6 text-md-right">
            <p style="font-weight: 400;"><b>Humas dan Kreatif Gamabeta UI 2020</b></p>
            <p>2020 - sekarang</p>
        </div>
    </div>
    <h1 id="kepanitiaan" class="exp">Kepanitiaan</h1>
    <hr class="lineBlue">
    <div class="row mx-md-5 pb-md-4 exp-detail" style="font-size: 20px; color: white;">
        <div class="col-sm-12 col-md-6 pl-md-5">
            <p style="font-weight: 400;"><b>Anggota Divisi Dana dan Konsumsi</b></p>
            <p><i>Social Project</i> 2019</p><br>
            <p style="font-weight: 400;"><b>Wakil Divisi Desain dan Pubdok</b></p>
            <p><i>GAMABETA Makes Class Simulation</i> 2020</p><br>
            <p style="font-weight: 400;"><b>Anggota Divisi Acara</b></p>
            <p>Rapat Kerja MBUI 2020</p><br>
        </div>
        <div class="col-sm-12 col-md-6 text-md-right">
            <p style="font-weight: 400;"><b>Anggota Divisi Mentor</b></p>
            <p>OKK UI 2020</p><br>
            <p style="font-weight: 400;"><b>Anggota Divisi Dokumentasi Kreatif</b></p>
            <p>SIWAK-NG 2020</p><br>
            <p style="font-weight: 400;"><b>VPJ Divisi Kreatif</b></p>
            <p>BETIS Fasilkom UI 2021</p><br>
        </div>
    </div>
</div>
<div class="transition"></div>
<div class="container-fluid p-3 profile text-md-left text-center" style="background-color: #f2f2f5;">
    <h1>Kreasi Saya</h1>
    <hr class="line">
    <div class="row gallery pl-5 pr-5 pb-5 mt-n5">
        <div class="column">
            <div class="row">
                <div class="column">
                    <img src="{% static 'halley.png' %}">
                </div>
                <div class="column">
                    <img src="{% static 'suho.png' %}">
                </div>
            </div>
            <img src="{% static 'mirie.png' %}">
        </div>
        <div class="column">
            <img src="{% static 'yunna.png' %}">
            <img src="{% static 'hinami.png' %}">
        </div>
    </div>
</div>
<div class="container-fluid p-3 profile text-md-left text-center" style="height: 375px;">
    <h1 style="color: white;">Get in touch.</h1>
    <hr class="line" style="background-color: white;">
    <div class="row mx-md-5" style="font-size: 17px;">
        <div class="col-12 pl-md-5 mt-n4 mt-md-n3 ml-md-5">
            <div class="table-responsive text-md-left text-center">
                <table id="contact">
                    <tr>
                        <td>ID LINE</td>
                        <td>: vivinyuri</td>
                    </tr>
                    <tr>
                        <td>WhatsApp</td>
                        <td>: +62895340546968</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>: tsanaativa.vinnera@gmail.com</td>
                    </tr>
                </table>
                <div class="small">
                    <p>ID LINE: vivinyuri</p>
                    <p>WhatsApp: +62895340546968</p>
                    <p>E-mail: tsanaativa.vinnera@gmail.com</p>
                </div>
            </div>
            <div class="col-12 text-md-right text-center p-3">
                <a href="https://www.instagram.com/vivinnera/">
                <img class="image-fluid soc" src="{% static 'img/instagram.png' %}"></a>
                <a href="https://www.linkedin.com/in/tsanaativa-vinnera-0295261b7">
                <img class="image-fluid soc" src="{% static 'img/linkedin.png' %}"></a>
                <a href="https://twitter.com/vivinnera14">
                <img class="image-fluid soc" src="{% static 'img/twitter.png' %}"></a>
                <a href="https://www.facebook.com/tsanaativa.v">
                <img class="image-fluid soc" src="{% static 'img/facebook.png' %}"></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}