@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #151515;
    font-family: 'Poppins';
}
.navbar {
    padding: .8rem 2rem;
}
.navbar-nav li {
    padding-right: 50px;
}
.nav-link {
    font-size: 1.1em !important;
}
h1 {
    padding: 50px 70px 0px;
    font-weight: 600;
}
#greeting {
    padding: 5px 70px;
    background-color: #151515;
}
.exp {
    padding: 80px 100px 0px 100px;
    font-size: 54px; font-weight: 600;
    color: white;
}
p {
    font-weight: 300;
    line-height: 1;
}
.description{
    margin: 25px auto;
    color: white;
}
p.me{
    padding: 15px;
    line-height: 1.5;
}
.exp-detail {
    font-weight: 600;
    padding-right: 30px;
}
.btn-primary {
    background-color: #6096ba;
    border: 1px solid #6096ba;
}
.btn-primary:hover {
    background-color: #6096ba;
    border: 1px solid #6096ba;
}
.bio, .data {
    color: #151515;
    line-height: 0.55; font-size: 15px;
}
.bio{
    font-family: 'Roboto'; font-weight: bolder;
}
.transition{
    background-color: #151515;
    padding: 50px;
}
.profile{
    padding: 5px 75px; text-align: center;
    font-family: 'Poppins'; font-size: 26px; font-weight: bolder;
    color: #274c78;
}
.container.riwayat {
    margin: 0; padding: 0;
    box-sizing: border-box;
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline {
    width: 80%; height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.timeline ul {
    list-style: none;
}
.timeline ul li {
    padding: 20px;
    background-color: #3b5d85;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 40px 10px;
}
.timeline-content h2 {
    font-size: 20px; font-weight: 500;
    line-height: 1.25; margin-bottom: 10px;
}
.timeline-content p {
    font-size: 16px;
    line-height: 1;
}
hr.line{
    border:0; margin-bottom: 60px;
    height: 5px; width: 30%; 
    background-color: #6096ba;
}
hr.lineBlue{
    border:0; margin-bottom: 60px;
    height: 5px; width: 85%; 
    background-color: #6096ba;
}
#contact, .small{
    font-weight: 300;
    color: white; line-height: 1.5;
}
.soc {
    padding:30px;
}
.row.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row.gallery .column {
    flex: 50%; overflow: hidden;
    width: auto; height: 100%;
    padding: 30px;
}
.row.gallery .column img {
    margin-top: 5%;
    width: 100%; height: 100%;
}
@media screen and (min-width: 601px) {
    h1 {
        font-size: 55px;
    }
    #greeting{
        font-size: 55px;
    }
    hr.line{
        margin-left: 70px;
    }
    p.me {
        font-size: 20px;
    }
    p.bio, p.data {
        font-size: 17px;
        padding-left: 60px;
    }
    #contact {
        font-size: 20px;
    }
    .small {
        display: none;
    }
    .soc {
        width:12%;
    }
    #kepanitiaan {
        text-align: right;
    }
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%; width: 5px;
        left: 55%;
        transform: translateX(50%);
        background-color: #274c78;
    }
    .timeline ul li {
        width: 50%;
        margin-left: 5%; margin-right: -1.5%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        text-align: right;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        text-align: left;
        
    }
    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #457b9d;
        border-radius: 50%;
        top:0;
    }
    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -17px;
    }
    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -16px;
    }
    .timeline ul li:hover:after {
        background-color: #71a6c8;
    }
    .timeline-content .achievement {
        position: absolute;
        bottom: -90px;
        right: 50px;
        color: #848485;
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 45px;
        padding-left: 2%; padding-right: 2%;
    }
    #greeting{
        font-size: 45px;
        font-weight: 600;
        padding-left: 5%; padding-right: 5%;
    }
    hr.line{
        width:50%; text-align: center;
    }
    p.me {
        font-size: auto;
    }
    p.bio, p.data{
        font-size: auto;
    }
    #contact {
        display: none;
    }
    .small {
        font-size: 16px;
        text-align: center;
    }
    .soc {
        width:23%;
        padding-top: 2%; padding-bottom: 13%;
    }
    .exp {
        padding: 50px 70px 0px;
        font-weight: 500;
        font-size: 44px;
    }
    .exp-detail {
        padding: 0px 20px;
    }
    .row.gallery .column {
        flex: 100%;
    }
    .timeline {
        left: -5%;
    }
}