{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Daftar Kegiatan Seru</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="{% static 'stylestory7.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'story7.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-center">
    <h1 id="greeting">Accordion Buatan Saya</h1>
</div>
<div class="container-fluid p-5 text-left text-white" style="background-color: #1d3557;">
    <ul class="accordion">
        <li class = "accordion-li">
            <div class="accordion-header">
                <div class="head">Aktivitas Saat Ini</div>
                <div class="buttons" id="act">
                    <button class="up btn btn-primary" style=" padding: 0 8px; margin-right: 10px;">
                    <i class="fas fa-angle-up"></i></button><button class="down btn btn-primary" style="padding: 0 8px;">
                    <i class="fas fa-angle-down"></i></button>
                </div>   
            </div>
            <div class="accordion-body">
                <p>Kuliah semester 3 di Fasilkom UI tercinta yang terdiri dari quiz #POKisFun dan
                lab #POKisFun yang extend mulu setiap Senin, mengerjakan story PePeW yang seru banget,
                mengerjakan checkpoint dan lab SDAASIK yang sangat seru banget juga astaghfirullah, bingung kapan
                presentasi agama, serta forum dan LK Alin :D<br>
                Tak lupa pula kegiatan organisasi dan kepanitiaan yang terdiri dari membuat postingan iklan agenda UI,
                mempersiapkan acara MuC, dan membuat desain-desain untuk BETIS, SIWAK, serta PDD.</p>
            </div>
        </li>
        <li class = "accordion-li">
            <div class="accordion-header">
                <div class="head">Pengalaman Organisasi</div>
                <div class="buttons" id="org">
                    <button class="up btn btn-primary" style=" padding: 0 8px; margin-right: 10px;">
                    <i class="fas fa-angle-up"></i></button><button class="down btn btn-primary" style="padding: 0 8px;">
                    <i class="fas fa-angle-down"></i></button>
                </div>
            </div>
            <div class="accordion-body">
                <p>Selama berkuliah di Fasilkom UI, berikut adalah pengalaman saya dalam berorganisasi:</p>
                <ol>
                    <li>Anggota Angkatan 44 MBUI, 2019 - sekarang</li>
                    <li>Anggota Departemen Muslimah Center FUKI Fasilkom UI, 2020 - sekarang</li>
                    <li>Anggota Divisi Humas dan Kreatif Gamabeta UI, 2020 - sekarang</li>
                </ol>
            </div>
        </li>
        <li class = "accordion-li">
            <div class="accordion-header">
                <div class="head">Pengalaman Kepanitiaan</div>
                <div class="buttons">
                    <button class="up btn btn-primary" style=" padding: 0 8px; margin-right: 10px;">
                    <i class="fas fa-angle-up"></i></button><button class="down btn btn-primary" style="padding: 0 8px;">
                    <i class="fas fa-angle-down"></i></button>
                </div>  
            </div>
            <div class="accordion-body">
                <p>Selama berkuliah di Fasilkom UI, saya telah mengikuti beberapa kepanitiaan yakni:</p>
                <ol>
                    <li>Anggota Divisi Dana dan Konsumsi Social Project 2019</li>
                    <li>Wakil Divisi Desain dan Pubdok G-MACS 2020</li>
                    <li>Anggota Divisi Acara Rapat Kerja MBUI 2020</li>
                    <li>Anggota Divisi Mentor OKK UI 2020</li>
                    <li>Anggota Divisi Dokumentasi dan Kreatif SIWAK-NG 2020</li>
                    <li>VPJ Divisi Kreatif BETIS Fasilkom UI 2021</li>
                    <li>Anggota Divisi Pubdok dan Desain MBUI Virtual Course</li>
                </ol>
            </div>
        </li>
        <li class = "accordion-li">
            <div class="accordion-header">
                <div style="float: left; ">Prestasi</div>
                <div style="float:right;">
                    <button class="up btn btn-primary" style=" padding: 0 8px; margin-right: 10px;">
                    <i class="fas fa-angle-up"></i></button><button class="down btn btn-primary" style="padding: 0 8px;">
                    <i class="fas fa-angle-down"></i></button>
                </div>
            </div>
            <div class="accordion-body">
                <p>Dulu anak fisika, sekarang anak orang tua saja. Selama berkuliah di Fasilkom UI, saya hanya pernah mengikuti satu perlombaan,
                yaitu lomba komik Newbie Cup sebagai peserta. Karena belum ada prestasi selama di Fasilkom, mari anggap saja survive semester 3 
                (+ kegiatan 2 organisasi 3 kepanitiaan, iya saya agak nyesel) sampai saat ini merupakan sebuah prestasi. Hiyahiyahiya.</p>
            </div>
        </li>
        <li class = "accordion-li">
            <div class="accordion-header">
                <div style="float: left; ">Hiburan</div>
                <div style="float:right;">
                    <button class="up btn btn-primary" style=" padding: 0 8px; margin-right: 10px;">
                    <i class="fas fa-angle-up"></i></button><button class="down btn btn-primary" style="padding: 0 8px;">
                    <i class="fas fa-angle-down"></i></button>
                </div>
            </div>
            <div class="accordion-body">
                <p><i>Study hard, play hard</i>. Tidak refreshing, ntar pushing. Kegiatan refreshing saya saat ini adalah main Genshin Impact 
                dan Tsumugu Logic, nonton visual novel Umineko no Naku Koro Ni (akan memakan waktu 50+ jam, iya sepanjang itu), nonton seasonal
                anime, baca webtoon, nonton youtuber. Betapa inginnya co-op Genshin lagi, simbiosis mutualisme saling carry.</p>
            </div>
        </li>
    </ul>
</div>
{% endblock content %}