{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Matkul Tsanaativa Vinnera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<style>
    input[type=submit] {
        color: white;
        text-align: center;
        border: none; border-radius: 6px;
    }
    #list {
        width: 75%; margin: auto;
        background-color: #f2f2f5;
        padding: 0px 20px;
    }
    #list th{
        background-color: #456994;
        color: white;
    }
    #list td {
        vertical-align: middle;
    }
    #click {
        text-align: center;
        line-height: 1.5;
    }
    .detail, .detail:hover {
        color: inherit;
    }
    .del {
        text-align: center;
    }
    @media screen and (max-width: 712px) {
        .line {
            margin-left:auto !important;
            margin-right:auto !important;
        }
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-left text-center">
    <h1 id="greeting">Daftarkan Mata Kuliah!</h1>
</div>
<div class="container-fluid p-3 text-left text-white" style="background-color: #1d3557;">
    <div style="width: 75%; margin:auto; padding: 50px 0px;">
        <div class="form-group">
            <form action="save" method="POST">
                {% csrf_token %}
                Nama Mata Kuliah: {{ input_form.nama }}<br>
                Dosen Pengajar: {{ input_form.dosen }}<br>
                Jumlah SKS: {{ input_form.sks }}<br>
                Deskripsi Mata Kuliah: {{ input_form.deskripsi }}<br>
                Semester Tahun: {{ input_form.semester }}<br>
                Ruang Kelas: {{ input_form.kelas }}<br><br>
                <input type="submit" value="Submit" style="background-color: #6096ba; padding: 10px 20px;">
            </form>
        </div>
    </div>
</div>
{% if matkuls %}
<div class="container-fluid p-3 text-md-left text-center" style="background-color: #f2f2f5;">
    <h1 id="daftar" style="color: #1d3557;">Daftar Mata Kuliah</h1>
    <hr class="line l" style="width: 50%;">
    <p id="click">Klik nama matkul untuk melihat detail matkul.</p>
    <br>
    <table id="list" class="table table-striped table-hover">
        <tr>
        <th>Nama Matkul</th>
        <th></th>
        </tr>
        <tbody>
            {% for matkul in matkuls %}
                <tr>
                    <td><a href="{% url 'story5:detail' id=matkul.id %}" class="detail">{{ matkul.nama }}</a></td>
                    <td class="del">
                        <form action="{% url 'story5:delete' id=matkul.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" name="Hapus" value="Hapus">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
</div>
{% endif %}
{% endblock content %}