{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Matkul Tsanaativa Vinnera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<style>
    p {
        line-height: 1.5;
    }
    a {
        color: inherit;
    }
    a.hover {
        color:#6096ba;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-left text-center">
    <h1 id="greeting">Detail Mata Kuliah</h1>
</div>

<div class="container-fluid p-3 px-5 text-left text-white" style="background-color: #1d3557;">
    <div class="row mx-md-5 mx-3 px-md-4">
        <div class="col-sm-12 px-md-5"></div>
            <br>
            <p><b><b>Nama Matkul:</b></b><br>{{ matkul.nama }}<br>
            <br><b><b>Dosen Pengajar:</b></b><br>{{ matkul.dosen }}<br>
            <br><b><b>Jumlah SKS:</b></b><br>{{ matkul.sks }}<br>
            <br><b><b>Deskripsi:</b></b><br>{{ matkul.deskripsi }}<br>
            <br><b><b>Semester Tahun:</b></b><br>{{ matkul.semester }}<br>
            <br><b><b>Ruang Kelas:</b></b><br>{{ matkul.kelas }}</p>
            <p></p>
        </div>
    </div>
</div>
<div class="container-fluid px-md-5 pb-2 text-white text-md-right text-center">
    <br>
    <p style="text-decoration: underline;"><a href="{% url 'story5:read' %}">Kembali ke daftar</a><br></p>
</div>
{% endblock content %}