{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block meta %}
    {% endblock meta %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #274c78;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story1:story1' %}">Story 1</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story 3</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'story3:aboutme' %}" style="color: #274c78;">About Me</a>
                    <a class="dropdown-item" href="{% url 'story3:myexperience' %}" style="color: #274c78;">My Experience</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story5:daftar' %}">Story 5</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story6:kegiatan' %}">Story 6</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story7:accordion' %}">Story 7</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story8:caribuku' %}">Story 8</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story9:logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story9:login' %}">Log In</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'story9:register' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </nav>
{% block content %}
{% endblock content %}
</body>
</html>
