html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
.register-box {
    align-self: center;
    vertical-align: middle;
    align-items: center;
    padding: 50px;
    background-color: #1d3557;
    justify-content: center;
    max-width: 70vh;
}
h1 {
    padding: 0 0;
    text-align: center;
    font-size: 40px;
}
hr.lineBlue{
    border:0; margin-bottom: 40px;
    height: 5px; width: 85%; 
    background-color: #6096ba;
}
small {
    color: #b3b3b3;
}
.form-group {
    margin-bottom: 0;
}
.error {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.success {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 20px;
    color: aquamarine;
}
.error > small {
    color: rgb(255, 73, 73);
}