{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 4 Tsanaativa Vinnera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<style>
body {
    color: white;
    text-align: center;
}
p {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 30px; margin-bottom: 30px;
}
.link {
    display:block; width:100%; height:100%;
    color: inherit;
}
a.link:hover {
    background-color: #325267;
    color: #b5cad8; text-decoration: none;
}
.box {
    width:225px; height:225px;
    background-color: #457b9d;
    display: block;
    margin-left: auto; margin-right: auto;
}
.number {
    font-size: 100px;
    font-weight: 600;
}
</style>
{% endblock meta %}

{% block content %}
<div class="container-fluid pb-4" style ="background-color: #1d3557;">
    <h1><b>Check out my PPW stories.</b></h1>
    <br>
</div>
    <div class="container pt-3" style="width: 80%; margin: auto;">
        <br>
        <div class="row pt-4">
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story1:story1' %}" class="link">
                    <h1 class="number">1</h1></a>
                </div>
                <p>My First<br>Profile</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="https://www.figma.com/proto/s4EmXbmgUiIYK2qXBKdel9/Prototype-Story-2?node-id=1%3A2&scaling=scale-down-width" class="link">
                    <h1 class="number">2</h1></a>
                </div>
                <p>Hi-Fidelity<br>Prototype</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story3:aboutme' %}" class="link">
                    <h1 class="number">3</h1></a>
                </div>
                <p>Responsive<br>Profile</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'main:home' %}" class="link">
                    <h1 class="number">4</h1></a>
                </div>
                <p>Django:<br>Views + Template</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story5:daftar' %}" class="link">
                    <h1 class="number">5</h1></a>
                </div>
                <p>More Django:<br>Models</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story6:kegiatan' %}" class="link">
                    <h1 class="number">6</h1></a>
                </div>
                <p>Unit Testing +<br>Django Models</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story7:accordion' %}" class="link">
                    <h1 class="number">7</h1></a>
                </div>
                <p>JavaScript +<br>JQuery</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story8:caribuku' %}" class="link">
                    <h1 class="number">8</h1></a>
                </div>
                <p>AJAX Dynamic<br>Data Access</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box">
                    <a href="{% url 'story9:login' %}" class="link">
                    <h1 class="number">9</h1></a>
                </div>
                <p>Register<br>and Login</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
