{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="{% static 'stylestory9.css' %}">
{% endblock meta %}

{% block content %}
<div class="content">
<div class="register-box text-white">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h1>Buat Akun Baru</h1>
            <hr class="lineBlue">
            <div class="error">
                {% if messages %}
                {% for message in messages %}
                    <small>{{ message }}</small><br>
                {% endfor %}
                {% endif %}
            </div>
            {% for field in form %}
            {{ field.label }}:<br>
            {{ field }}
            <small>{{ field.help_text }}</small><br><br>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
    <div>
        <small class="text-muted">
            Sudah punya akun? <a href="{% url 'story9:login' %}">Log In</a>
        </small>
    </div>
</div>
</div>
{% endblock content %}