{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Selamat Datang di Story PPW Vivin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="{% static 'stylestory9.css' %}">
{% endblock meta %}

{% block content %}
<div class="content">
    <div class="register-box text-white">
        {% if user.is_authenticated %}
        <h1>Selamat datang, {{ user.username }}.</h1>
        <hr class="lineBlue" style="margin-bottom: 20px;">
        <div style="text-align: center;">
            <small class="text-muted">
                <a href="{% url 'main:home' %}">Kembali ke home</a>
            </small>
        </div>
        {% else %}
        <h1>Anda harus login terlebih dahulu.</h1>
        <hr class="lineBlue" style="margin-bottom: 20px;">
        <div style="text-align: center;">
            <small class="text-muted">
                <a href="{% url 'story9:login' %}">Login</a> atau <a href="{% url 'story9:register' %}">buat akun baru</a>
            </small>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}